div
  h1(x-large,class="sample-content") Marauders powerup
  div
    h4 Skeleton Cave
      div
        img([src]="skeletonCave", width="45%")
      div
        | +20% cost increase from 2 Anvils for bigger Prize payouts
        | +10% build time speedup 
        | (also using 2 Davy Jones Lockers for 10% less rum use)

