div
  h1(x-large,class="sample-content") Marauders powerup
  div
    h4 Alchemist Shop
      div
        img([src]="alchemist", width="45%")
      div
        | this is Level 11, don't know what the bonus for level 12 is.
        | Swiftness and Resistance increase Marauder defense
        

