<div>
  <h1 class="sample-content" x-large="x-large">Calulate Max</h1>
  <form [formGroup]="formModel" *ngIf="active" (ngSubmit)="onSubmit()">
    <div>
      <label>Scout Results&nbsp;&nbsp;
        <div class="form-group">
          <label for='sgold'>gold</label>
          <input type="string" id='sgold' class='form-control' formControlName='sgold' required />
          <div *ngIf="formErrors.sgold" class="alert alert-danger">
            {{ formErrors.sgold }}
          </div>
        </div>
        <div class="form-group">
          <label for=slumber>lumber</label>
          <input type="string" id='slumber' class='form-control' formControlName='slumber' required />
          <div *ngIf="formErrors.slumber" class="alert alert-danger">
            {{ formErrors.slumber }}
          </div>
        </div>
        <div class="form-group">
          <label for=srum>rum</label>
          <input type="string" id='srum' class='form-control' formControlName='srum' required />
          <div *ngIf="formErrors.srum" class="alert alert-danger">
            {{ formErrors.srum }}
          </div>
        </div>
      </label>
    </div>
    <div>
      <label>Raid Results&nbsp;&nbsp;
        <div class="form-group">
          <label for='gold'>gold</label>
          <input type="string" id='gold' class='form-control' formControlName='gold' required />
          <div *ngIf="formErrors.gold" class="alert alert-danger">
            {{ formErrors.gold }}
          </div>
        </div>
        <div class="form-group">
          <label for=lumber>lumber</label>
          <input type="string" id='lumber' class='form-control' formControlName='lumber' required />
          <div *ngIf="formErrors.lumber" class="alert alert-danger">
              {{ formErrors.lumber }}
          </div>
        </div>
        <div class="form-group">
          <label for=rum>rum</label>
          <input type="string" id='rum' class='form-control' formControlName='rum' required />
          <div *ngIf="formErrors.rum" class="alert alert-danger">
            {{ formErrors.rum }}
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label for='maxRaidTotal'>Max Total From Raid</label>
      <input type="string" id='maxRaidTotal' class='form-control' formControlName="maxRaidTotal" required />
      <div *ngIf="formErrors.maxRaidTotal" class="alert alert-danger">
        {{ formErrors.maxRaidTotal }}
      </div>
    </div>    
    <p>
      <button type="button" (click)="setGoodScout($event)" >
        {{ goodScout }}
      </button>
    <p>
      <button type="submit" *ngIf="!anyFormErrors()" >Submit</button>
    </p>
  </form>
</div>